.contactUsBody .contactBodyHeader {
    display: grid;
    place-items: center;
   
}
.contactBodyHeader .divider{
    height: 4px !important;
    width: 50px;
    background-color: orangered;
}
.contactUsBody{
    /* max-width: 86%; */
   margin-inline: 90px;
   
}

.row .contactForms{
border: 1px solid black;
height: 350px;
  border-radius: 4px;
margin-top: 20px;
margin-bottom: 20px;



}
.row .messageinput{
    height: 100px !important;
}

.row .contactSubmit{
    background-color: orangered;
    color: white;
    font-weight: bold;
    border-radius: 20px;
    width: 150px;
    height: 40px !important;
    outline: none !important;
border: transparent !important;

}

.row .contactDetails{
    background-color: #f0f5f5;
    border: 1px solid grey; 
     margin-top: 20px;
     border-radius: 4px;

}
.contactDetails .leftContent{
    display: flex;
    margin-bottom: 20px;
   
}
.leftContent .iconSection{
    
    display: grid;
    place-items: center;
    margin-inline: 50px !important;
   
    
}
