
*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.navWrapper .nav-item {
    margin: 10px;
    font-size: 18px;
    font-weight: bold;
}

.navWrapper .navbar .navbar-nav li {
    position: relative;
}

.navWrapper .navbar .navbar-nav li .nav-link::after {
    content: "";
    height: 4px;
    width: 0%;
   
    position: absolute;
    left: 0px;
    bottom: -5px;
    transition: 0.5s ease-in-out;
    max-width: 100px;
}

.navWrapper .navbar .navbar-nav li .nav-link:hover::after {
    width: 100%;
     background: #ff751a;
}
.navWrapper .loginbtn {
    border-radius: 25px !important;
    background-color: orangered !important;
    padding: 5px !important;
    font-weight: bold;
    color: white !important;
    max-width: 100px;
    
}
 .navWrapper .register {
    border-radius: 25px !important;
    background-color: orangered !important;
    padding: 5px !important;
    font-weight: bold;
    color: white !important;
max-width: 100px;
}
.navWrapper .loginbtn:hover {
    background-color: #00e600 !important;
}
.navWrapper .register:hover {
    background-color: #00e600 !important;
}
.navWrapper .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
    border-top: 4px solid orangered;
    
}
.navWrapper .dropdown .dropdown-menu {
    max-width: 230px;
   padding-right: 9px !important;
}



.navWrapper .dropdown-item {
    font-weight: bold;
    transition: 0.5s ease-out;
}
.navWrapper .dropdown .dropdown-menu .dropdown-item:hover {
     color: orangered;
     transform: translateX(5px);
 }
.navWrapper .brandLogo {
    height: 60px;
    width :60px ;
    border-radius: 50%;
}


.widgetleft {
    position:fixed !important;
    top: 35% !important;
    left: 0px !important;
    transform: translateY(35%) !important;
    -webkit-transform: translateY(35%);
  
    color: orangered; 
    cursor: pointer !important;
    display: flex !important;
    flex-direction: column !important;
    z-index: 10;
   
}
.widgetright{
    position:fixed !important;
    top: 35% !important;
    right: 0px !important;
    transform: translateY(35%) !important;
    cursor: pointer !important;
    display: flex !important;
    flex-direction: column !important;
    -webkit-transform: translateY(35%);
    z-index: 10;
    
}
.widgetleft a{
    color: white;
    font-size: 16px;
    padding: 20px !important;
    margin: 3px !important;
  

}
.widgetleft .fab:hover {
  
    color: red !important;
    
}

.widgetright a {
    color: white;
   transition: 0.4s ease-in-out;
    padding: 10px !important;
    margin: 3px !important;
    background-color: rgb(255, 69, 0) !important;

}

.widgetright a:hover {
    background-color: green !important;
    color: white !important;
}





